<footer class="footer">
  <div class="footer-content">
    <nav class="footer-nav">
      <a href="/">Домашняя страница</a>
      <a href="/pages/kak_nas_nayti.html">О нас</a>
      <a href="/pages/stoimost.html">Стоимость услуг</a>
      <a href="/pages/garantiy.html">Гарантия</a>
      <a href="/pages/remont luka.html">Ремонт люков</a>
      <a href="/pages/specialist.html">Специалисты</a>
      <a href="/pages/steklo s obogrevom.html">Стекло с обогревом</a>
      <a href="/pages/kak_remontiruem.html">Как ремонтируем</a>
      <a href="/pages/discussion.html">Задать вопрос</a>
      <a href="/pages/kak_nas_nayti.html">Контакты</a>
    </nav>
    <div class="copyright">
      &copy; {{ '%Y' | date }} Сколам-НЕТ. Все права защищены
    </div>
  </div>
</footer>
