<aside class="sidebar">
  <nav class="navigation">
    <ul class="nav-list">
      <li><a href="/" class="nav-link active">Главная</a></li>
      <li>
        <a href="/pages/zamena-remont/" class="nav-link">Менять или ремонт?</a>
      </li>
      <li>
        <a href="/pages/Rekomendacii/" class="nav-link">При повреждении</a>
      </li>
      <li>
        <a href="/pages/garantiy/" class="nav-link">Гарантия на ремонт</a>
      </li>
      <li>
        <a href="/pages/specialist/" class="nav-link">Наши специалисты</a>
      </li>
      <li>
        <a href="/pages/steklo s obogrevom/" class="nav-link"
          >Стекло с обогревом</a
        >
      </li>
      <li>
        <a href="/pages/remont luka/" class="nav-link">Ремонт стекла крыши</a>
      </li>
      <li><a href="/pages/stoimost/" class="nav-link">Стоимость</a></li>
      <li>
        <a href="/pages/grafik raboty/" class="nav-link">График работы</a>
      </li>
      <li>
        <a href="/pages/kak_nas_nayti/" class="nav-link">Контакты и как проехать</a>
      </li>
      
      <li>
        <a href="/pages/kak_remontiruem/" class="nav-link">Как ремонтируем</a>
      </li>
      <li>
        <a href="/pages/discussion/" class="nav-link">Задать вопрос</a>
      </li>
      <li>
        <a
          href="https://khimki-avto.ru"
          class="nav-link external"
          target="_blank"
          >Ремонт Химки</a
        >
      </li>
      <li>
        <a
          href="https://t.me/skolam_net"
          class="nav-link external"
          target="_blank"
          >Группа в Телеграмм</a
        >
      </li>
    </ul>
  </nav>
</aside>
